.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.insta-text{
  width: 150px;
}
.bi{
  margin-right: 5px;
}
.story{
  height: 70px;
  padding: 10px;
}
.card{
  padding: 2px;
  max-width: 200px;
  border: 2px solid;
  margin-left: 5px;
  margin-top:5px ;
  display: inline-block;
  text-align: center;
  
}
.card img{
  max-width: 200px;
}
.card h3{
  text-decoration: underline;
}
.db{
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.post-img{
  width: 250px;
  height: 150px;
}
.suggestions h4{
  font-size: 16px;
}
.suggestions .dp{
  margin-top: 0px !important;
}
.suggestions button{
  border: none !important;
  background-color: none !important;
}
.story-db{
  width: 40px;
}
.gradient-border {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff,#ff6600,#ffcc00);
}
